<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="user-new">ログイン</h4>
    </div>
    <div class="col-md-9"></div>
  </div>
  
  <br>
  
  <div class="row">
    <div class="col-md-5">
      <h5 class="user-new-sub">会員の方はこちらからログイン</h5>
    </div>
    <div class="col-md-7"></div>
  </div>
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10 mx-auto">
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <table class="table table-noborder">
          <tbody>
            <tr>
              <td class="user-session-label"><%= f.label :email, "メールアドレス" %></td>
              <td><%= f.email_field :email, autofocus: true, placeholder: "sample@example.com", class:"user-session-form" %></td>
            </tr>
            
            <tr>
              <td class="user-session-label"><%= f.label :password, "パスワード" %></td>
              <td><%= f.password_field :password, class:"user-session-form" %></td>
            </tr>
            
            <tr>
              <td></td>
              <td class="user-button">
                <div class="actions">
                  <%= f.submit "ログイン", class:"btn btn-primary user-login" %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  
  <br>
  <br>
  
  <div class="row">
    <div class="col-md-4">
      <h5 class="user-session-link-title">会員登録がお済でない方</h5>
    </div>
    <div class="col-md-8"></div>
  </div>
  <div class="row">
    <div class="col-md-5 user-session-link">
      <%= link_to "こちら", new_user_registration_path %> から新規登録してください。
    </div>
  </div>
</div>