<%= form_with model: @video, url: user_videos_path, local: true do |form| %>
  <p>title</p><%= form.text_field :title %> <br>
  <p>content</p><%= form.text_area :content %> <br>
  <p>video</p><%= form.file_field :video %> <br>
  <%= form.submit %>
<% end %>