<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="mypage-title">ジャンル一覧・追加</h4>

      <table class="table table-noborder ganre-add-table">
        <%= form_with model:@genre, url:admin_genres_path, local:true do |f| %>
          <div class="row">
            <div class="form-group">
              <td>
                <%= f.label :name, "ジャンル名" %>
              </td>
              <td>
                <%= f.text_field :name, placeholder:"ジャンル名"  %>
              </td>
            </div>
            <div class="form-group">
              <td><%= f.submit "新規登録", class: 'bnt btn-success rounded genre-add-buttom' %></td>
              <td><%= link_to "戻る", admin_root_path, class:"btn btn-primary ml-3" %></td>
            </div>
          </div>
        <% end %>
      </table>

      <div class="genre-table">
        <table class="table table-hover user-index-table">
          <thead>
            <tr class="active">
              <th>ジャンル</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
              <tr>
                <td><%= genre.name %></td>
                <td><%= link_to '編集する', edit_admin_genre_path(genre), class: 'bnt btn-success rounded genre-edit-buttom' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>