<!--if チャレンジャー-->
<% if @user.account == "challenger" %>
<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-header">プロフィール</div>
        <div class="card-body">
          <!--アイコン-->
          <div class="form-group row py-1">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-map-marker-alt"></i>
              アイコン<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= attachment_image_tag @user, :icon, size: "300x300" %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-map-marker-alt"></i>
              お名前<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= @user.full_name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="nick_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ニックネーム<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= @user.nick_name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="genre" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ジャンル<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <% @user_genre = @user.genre %>
              <%= @user_genre.name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="status" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ステータス<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <% @user_status = @user.status %>
              <%= @user_status.name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="account" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              アカウント<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= @user.account %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="email" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              メールアドレス<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= @user.email %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="message" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              メッセージ<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= @user.message %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "編集", edit_user_user_path(@user.id) %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "動画投稿", new_user_video_path %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "動画一覧", user_videos_path %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "コーチ一覧", user_users_path %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-header">プロフィール</div>
        <div class="card-body">
          <!--アイコン-->
          <div class="form-group row py-1">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-map-marker-alt"></i>
              アイコン<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= attachment_image_tag @user, :icon, size: "300x300" %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-map-marker-alt"></i>
              お名前<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= @user.full_name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="nick_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ニックネーム<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= @user.nick_name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="genre" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ジャンル<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <% @user_genre = @user.genre %>
              <%= @user_genre.name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="status" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ステータス<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <% @user_status = @user.status %>
              <%= @user_status.name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="account" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              アカウント<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= @user.account %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="email" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              メールアドレス<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= @user.email %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="message" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              メッセージ<span class="text-secondary">(必須)</span>
            </label>
            <div class="col-md-6">
              <%= @user.message %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "編集", edit_user_user_path(@user) %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "告知投稿", new_user_information_path %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "動画一覧", user_videos_path %>
            </div>
          </div>
          
          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "告知一覧", user_informations_path %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "コーチ一覧", user_users_path %>
            </div>
          </div>
          
        <% if current_user != @user %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォローを外す", user_user_relationships_path(@user.id), method: :delete, class: "btn btn-info" %>
          <% else %>
            <%= link_to "フォローする", user_user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
          <% end %>
        <% else %>
          <%= link_to edit_user_user_path(@user), class:"btn btn-default btn-block" do %>
            <span class="fas fa-user-cog"></span>
          <% end %>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>