<% if @user.account == "challenger" %>
<div class="container mb-4">
  <h3 class="text-center mb-0" style="color: #1a1a1a+; background-color: #ffd5da; padding: 10px 0; border-top: solid 1px #EB3642;">プロフィール</h3>
  <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">

          <div class="form-group row py-1">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-map-marker-alt"></i>
              アイコン
            </label>
            <div class="col-md-6">
              <%= attachment_image_tag @user, :icon, size: "300x300" %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="nick_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ニックネーム
            </label>
            <div class="col-md-6">
              <%= @user.nick_name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="genre" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ジャンル
            </label>
            <div class="col-md-6">
              <%= @user.genre.name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="status" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ステータス
            </label>
            <div class="col-md-6">
              <%= @user.status.name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="account" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              アカウント
            </label>
            <div class="col-md-6">
              <%= @user.account %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="message" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              メッセージ
            </label>
            <div class="col-md-6">
              <%= @user.message %>
            </div>
          </div>

        <% if current_user != @user %>
        
        <% else %>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "編集", edit_user_user_path(@user), class: 'btn btn-default' %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "動画投稿", new_user_video_path, class: 'btn btn-default' %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "動画一覧", user_videos_path, class: 'btn btn-default' %>
            </div>
          </div>
          
          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "告知一覧", user_informations_path, class: 'btn btn-default' %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "コーチ一覧", user_users_path, class: 'btn btn-default' %>
            </div>
          </div>
          
        <% end %>
        
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="container mb-4">
  <h3 class="text-center mb-0" style="color: #1a1a1a+; background-color: #ffd5da; padding: 10px 0; border-top: solid 1px #EB3642;">プロフィール</h3>
  <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <!--アイコン-->
          <div class="form-group row py-1">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-map-marker-alt"></i>
              アイコン
            </label>
            <div class="col-md-6">
              <%= attachment_image_tag @user, :icon, size: "300x300" %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="full_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-map-marker-alt"></i>
              名前
            </label>
            <div class="col-md-6">
              <%= @user.full_name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="nick_name" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ニックネーム
            </label>
            <div class="col-md-6">
              <%= @user.nick_name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="genre" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ジャンル
            </label>
            <div class="col-md-6">
              <%= @user.genre.name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="status" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              ステータス
            </label>
            <div class="col-md-6">
              <%= @user.status.name %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="account" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              アカウント
            </label>
            <div class="col-md-6">
              <%= @user.account %>
            </div>
          </div>

          <div class="form-group row py-1">
            <label for="message" class="col-md-4 col-form-label text-md-right">
              <i class="fas fa-user-alt"></i>
              メッセージ
            </label>
            <div class="col-md-6">
              <%= @user.message %>
            </div>
          </div>
          
        <% if current_user != @user %>
          
        <% else %>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "編集", edit_user_user_path(@user), class: 'btn btn-default' %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "告知投稿", new_user_information_path, class: 'btn btn-default' %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "動画一覧", user_videos_path, class: 'btn btn-default' %>
            </div>
          </div>
          
          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "告知一覧", user_informations_path, class: 'btn btn-default' %>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4 text-center mt-2 mx-auto">
              <%= link_to "コーチ一覧", user_users_path, class: 'btn btn-default' %>
            </div>
          </div>
          
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>