コメント

<table>
  <% @video.comments.each do |comment| %>
    <% comment_user = comment.user %>
    <tr>
    	<td>
    		<%= link_to user_user_path(comment_user), do %>
      		<%= attachment_image_tag comment_user, :icon, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
      		<%= comment_user.name %>
    		<% end %>
    	</td>
    	<td><%= comment.comment %></td>
    	<% if current_user == comment_user %>
      	<td><%= link_to 'Destroy', user_comment_path(comment.video_id, comment.id), class: 'btn-sm btn-danger', method: :delete %></td>
    	<% end %>
    </tr>
  <% end %>
</table>
<%= form_with model:[@video,@comment] do |f| %>
  <%= f.text_area :comment, size:"90x5" %><br>
  <%= f.submit '送信'%>
<% end %>