<div class="p-main mt-3">
  <div class="row mx-0 ml-2">
    <i class="fas fa-arrow-left"></i>
    <%= link_to "戻る", user_video_path(@video) %>
  </div>
  
  <h2 class="text-center mb-3 pb-3" style="color: #1a1a1a+;">動画</h2>
  <h3 class="text-center mb-0" style="color: #1a1a1a+; background-color: #ffd5da; padding: 10px 0; border-top: solid 1px #EB3642;">コメント</h3>
  <div class="row justify-content-center mx-1 my-4">
  
      <table>
        <% @video.comments.each do |comment| %>
          <% comment_user = comment.user %>
          <tr>
          	<td>
          		<%= link_to user_user_path(comment_user) do %>
            		<%= comment_user.nick_name %>
          		<% end %>
          	</td>
          	<td>
          		(<%= comment_user.account %>)
          	</td>
          	<td>
           	　<%= comment.comment %>
           	</td>
           	<td>
            	<% if current_user == comment_user %>
              	<%= link_to '削除', user_video_comment_path(comment.video_id, comment.id), class: 'btn-sm btn-danger', method: :delete %>
            	<% end %>       		
          	</td>
          </tr>
        <% end %>
      </table>
      
        <%= form_with model:[@video,@comment], url: user_video_comments_path, method: :POST do |f| %>
          <%= f.text_area :comment, size:"90x5" %>
          <%= f.submit '送信'%>
        <% end %>
  </div>
</div>