<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="mypage-title">会員一覧</h4>
    </div>
    <div class="col-md-9"></div>
  </div>  
  <div class="row">
    <div class="col-md-12">
      <table class="table user-index-table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <% @user.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to admin_user_path(user.id) do %>
                <%= user.full_name %>
              <% end %>
            </td>
            <td><%= user.email %></td>
          </tr>
          <% end %>
          
          <tr>
            <td></td>
            <td>
              <div class="actions">
                <%= link_to "戻る", admin_root_path, class:"btn btn-primary ml-3" %>
              </div>
            </td>
          </tr>
        
        </tbody>
      </table>
    </div>
  </div>
</div>