<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <% if admin_signed_in? %>
        <a class="navbar-brand" href="/admin"><%= image_tag 'no_image.jpeg',size: '100x100' , class: 'logo'%></a>
      <% else %>
        <a class="navbar-brand" href="/user"><%= image_tag 'no_image.jpeg',size: '100x100' , class: 'logo'%></a>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarNavDropdown" style="">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li>
              <p class="mt-auto mb-auto mr-3">ようこそ、<%= current_customer.first_name %>さん！</p>
            </li>
            <li>
              <%= link_to "マイページ", user_user_path(current_user), class: 'btn btn-primary mr-2' %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-primary mr-1' %>
            </li>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-primary mr-1' %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary mr-2' %>
            </li>
            <li>
              <%= link_to "会員ログイン", user_session_path, class: 'btn btn-primary mr-1' %>
            </li>
            <li>
              <%= link_to "管理者ログイン", admin_session_path, class: 'btn btn-primary mr-1' %>
            </li>
            <li>
              <%= link_to "お問い合わせ", public_homes_conta_path, class: 'btn btn-primary mr-2' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>